{% extends 'base_no_login_link.html' %}

{% block content %}
  {% if validlink %}
    <p>新しいパスワードを入力してください。</p>
    <form action="" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>
            {{ form.new_password1.errors }}
            <label for="id_new_password1">パスワード：</label>
          </td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>
            {{ form.new_password2.errors }}
            <label for="id_new_password2">ご確認のため、パスワードを再度入力してください：</label>
          </td>
          <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Change my password" />
          </td>
        </tr>
      </table>
    </form>
  {% else %}
    <h1>パスワードの変更が失敗しました。</h1>
    <p>パスワード変更リンクが既に使用されていた可能性があるため、無効になりました。もう一度パスワードの変更をリクエストしてください。</p>
  {% endif %}
{% endblock %}
